".source.json":
  "Min Aggregation":
    "prefix": "min_aggs"
    "body": """
      "aggs": {
        "${1:min_price}": {
          "min": {
            "field": "${2:price}"
          }
        }
      }$3
    """
  "Max Aggregation":
    "prefix": "max_aggs"
    "body": """
      "aggs": {
        "${1:max_price}": {
          "max": {
            "field": "${2:price}"
          }
        }
      }$3
    """
  "Sum Aggregation":
    "prefix": "sum_aggs"
    "body": """
      "aggs": {
        "${1:sum_price}": {
          "sum": {
            "field": "${2:price}"
          }
        }
      }$3
    """
  "Avg Aggregation":
    "prefix": "avg_aggs"
    "body": """
      "aggs": {
        "${1:avg_price}": {
          "avg": {
            "field": "${2:price}"
          }
        }
      }$3
    """
  "Stats Aggregation":
    "prefix": "stats_aggs"
    "body": """
      "aggs": {
        "${1:stats_price}": {
          "stats": {
            "field": "${2:price}"
          }
        }
      }$3
    """
  "Extend Stats Aggregation":
    "prefix": "extend_stats_aggs"
    "body": """
      "aggs": {
        "${1:extend_price}": {
          "extend_stats": {
            "field": "${2:price}"
          }
        }
      }$3
    """
  "Value Count Aggregation":
    "prefix": "value_count_aggs"
    "body": """
      "aggs": {
        "${1:grades_count}": {
          "value_count": {
            "field": "${2:grade}"
          }
        }
      }$3
    """
  "Percentiles Aggregation":
    "prefix": "percentiles_aggs"
    "body": """
      "aggs": {
        "${1:load_time_outlier}": {
          "percentiles": {
            "field": "${2:load_time}"
          }
        }
      }$3
    """
  "Percentile Ranks Aggregation":
    "prefix": "percentile_ranks_aggs"
    "body": """
      "aggs": {
        "${1:load_time_outlier}": {
          "percentile_ranks": {
            "field": "${2:load_time}",
            "values": [${3:15, 30}]
          }
        }
      }$4
    """
  "Cardinality Aggregation":
    "prefix": "cardinality_aggs"
    "body": """
      "aggs": {
        "${1:author_count}": {
          "cardinality": {
            "field": "${2:author}"
          }
        }
      }$3
    """
  "Geo Bounds Aggregation":
    "prefix": "geo_bounds_aggs"
    "body": """
      "aggs": {
        "${1:viewport}": {
          "geo_bounds": {
            "field": "${2:location}",
            "wrap_longitude": ${3:true}
          }
        }
      }$4
    """
  "Top hits Aggregation":
    "prefix": "top_hits_aggs"
    "body": """
      "aggs": {
        "${1:top_tag_hits}": {
          "top_hits": {
            "sort": [
              ${2:"_score"}
            ],
            "_source": {
              "include": [${3:"title"}]
            },
            "size": ${4:3}
          }
        }
      }$5
    """
  "Global Aggregation":
    "prefix": "global_aggs"
    "body": """
      "aggs": {
        "${1:all_products}": {
          "global": {},
          "aggs": {
            "${2:avg_price}": {
              "avg": {
                "field": "price"
              }
            }
          }
        }
      }$3
    """
  "Filter Aggregation":
    "prefix": "filter_aggs"
    "body": """
      "aggs": {
        "${1:red_products}": {
          "filter": {
            "term": {
              "color": "red"
            }
          },
          "aggs": {
            "${2:avg_price}": {
              "avg": {
                "field": "price"
              }
            }
          }
        }
      }$3
    """
  "Filters Aggregation":
    "prefix": "filters_aggs"
    "body": """
      "aggs": {
        "${1:messages}": {
          "filters": {
            "filters": {
              "${2:errors}": {"term": {"body": "error"}},
              "${3:warnings}": {"term": {"body": "warning"}}
            }
          },
          "aggs": {
            "${4:monthly}": {
              "histogram": {
                "field": "timestamp",
                "interval": "1M"
              }
            }
          }
        }
      }$5
    """
  "Missing Aggregation":
    "prefix": "missing_aggs"
    "body": """
      "aggs": {
        "${1:products_without_a_price}": {
          "missing": {
            "field": "${2:price}"
          }
        }
      }$3
    """
  "Nested Aggregation":
    "prefix": "nested_aggs"
    "body": """
      "aggs": {
        "${1:resellers}": {
          "nested": {
            "path": "${2:resellers}"
          },
          "aggs": {
            "min_price": {
              "min": {
                "field": "resellers.price"
              }
            }
          }
        }
      }$3
    """
  "Reverse Nested Aggregation":
    "prefix": "reverse_nested_aggs"
    "body": """
      "aggs": {
        "${1:comment_to_issue}": {
          "reverse_nested": {},
          "aggs": {
            "${2:top_tags_per_comment}": {
              "terms": {
                "field": "tags"
              }
            }
          }
        }
      }$3
    """
  "Children Aggregation":
    "prefix": "chldren_aggs"
    "body": """
      "aggs": {
        "${1:to-answers}": {
          "children": {
            "type": "${2:answer}"
          },
          "aggs": {
            "top-names": {
              "terms": {
                "field": "owner.display_name",
                "size": 10
              }
            }
          }
        }
      }$3
    """
  "Terms Aggregation":
    "prefix": "terms_aggs"
    "body": """
      "aggs": {
        "${1:genders}": {
          "terms": {
            "field": "${2:gender}"
          }
        }
      }$3
    """
  "Significant Terms Aggregation":
    "prefix": "significant_terms_aggs"
    "body": """
      "aggs": {
        "${1:significantCrimeTypes}": {
          "significant_terms": {
            "field": "${2:crime_type}"
          }
        }
      }$3
    """
  "Range Aggregation":
    "prefix": "range_aggs"
    "body": """
      "aggs": {
        "${1:price_ranges}": {
          "range": {
            "field": "${2:price}",
            "ranges": [
              {"to": 50},
              {"from": 50, "to": 100},
              {"from": 100}
            ]
          }
        }
      }$3
    """
  "Date Range Aggregation":
    "prefix": "date_range_aggs"
    "body": """
      "aggs": {
        "range": {
          "${1:date_range}": {
            "field": "${2:date}",
            "format": "MM-yyy",
            "ranges": [
              {"to": "now-10M/M"},
              {"from": "now-10M/M"}
            ]
          }
        }
      }$3
    """
  "IPv4 Range Aggregation":
    "prefix": "ipv4_range_aggs"
    "body": """
      "aggs": {
        "${1:ip_ranges}": {
          "ip_range": {
            "field": "${2:ip}",
            "ranges": [
              {"to": "10.0.0.5"},
              {"from": "10.0.0.5"}
            ]
          }
        }
      }$3
    """
