".source.json":
  "And Filter":
    "prefix": "and_filter"
    "body": """
      "and": [$1]$2
    """
  "Bool Filter":
    "prefix": "bool_filter"
    "body": """
      "bool": {
        "must": [{$1}],
        "must_not": [{$2}],
        "should": [{$3}]
      }$4
    """
