".source.json, .source.elasticsearch.aliases":
  "Add Alias Template":
    "prefix": "add_alias_template"
    "body": """
      {
        "actions": [
          {"add": {"index": "${1:test1}", "alias": "${2:alias1}"}}
        ]
      }$3
    """
  "Remove Alias Template":
    "prefix": "remove_alias_template"
    "body": """
      {
        "actions": [
          {"remove": {"index": "${1:test1}", "alias": "${2:alias1}"}}
        ]
      }$3
    """
  "Rename Alias Template":
    "prefix": "remove_alias_template"
    "body": """
      {
        "actions": [
          {"remove": {"index": "${1:test1}", "alias": "${2:alias1}"}}
          {"add": {"index": "${1:test1}", "alias": "${3:alias2}"}}
        ]
      }$4
    """
  "Associate Alias Template":
    "prefix": "associate_alias_template"
    "body": """
      {
        "actions": [
          {"add": {"index": "${1:test1}", "alias": "${2:alias1}"}}
          {"add": {"index": "${3:test2}", "alias": "${2:alias1}"}}
        ]
      }$4
    """
  "Filter Alias Template":
    "prefix": "filter_alias_template"
    "body": """
      {
        "actions": [{
          "add": {
            "index": "${1:test1}",
            "alias": "${2:alias2}",
            "filter": {
              ${3:"term": \{"user": "kimchy"\}}
            }
          }
        }]
      }$4
    """
  "Routing Alias":
    "prefix": "routing_alias_template"
    "body": """
      {
        "actions": [{
          "add": {
            "index": "${1:test1}",
            "alias": "${2:alias2}",
            "routing": "${3:1}"
          }
        }]
      }$4
    """
