".source.json, .source.elasticsearch.mapping":
  "Mapping Template":
    "prefix": "mapping_template"
    "body": """
      {
        "${1:tweet}": {
          "properties": {
            "${2:message}": {
              "type": "string",
              "store": true
            }
          }
        }
      }$3
    """
  "_id Field Mapping":
    "prefix": "_id_field_mapping"
    "body": """
      "_id": {
        "path": "${1:post_id}"
      }$2
    """
  "_type Field Mapping":
    "prefix": "_type_field_mapping"
    "body": """
      "_type": {
        "index": "${1:no}",
        "store": ${2:true}
      }$3
    """
  "_source Field Mapping":
    "prefix": "_source_field_mapping"
    "body": """
      "_source": {
        "enabled": ${1:false}
      }$2
    """
  "_all Field Mapping":
    "prefix": "_all_field_mapping"
    "body": """
      "_all": {
        "enabled": ${1:false}
      }$2
    """
  "_analyzer Field Mapping":
    "prefix": "_analyzer_field_mapping"
    "body": """
      "_analyzer": {
        "path": "${1:my_field}"
      }$2
    """
  "_boost Field Mapping":
    "prefix": "_boost_field_mapping"
    "body": """
      "_boost": {
        "name": "${1:my_boost}", "null_value": ${2:1.0}
      }$3
    """
  "_parent Field Mapping":
    "prefix": "_parent_field_mapping"
    "body": """
      "_parent": {
        "type": "${1:blog}"
      }$2
    """
  "String Field Mapping":
    "prefix": "string_field_mapping"
    "body": """
      "${1:message}": {
        "type": "string"
      }$2
    """
  "Float Field Mapping":
    "prefix": "float_field_mapping"
    "body": """
      "${1:price}": {
        "type": "float",
        "null_value": ${2:1.0}
      }$3
    """
  "Double Field Mapping":
    "prefix": "double_field_mapping"
    "body": """
      "${1:price}": {
        "type": "double",
        "null_value": ${2:1}
      }$3
    """
  "Byte Field Mapping":
    "prefix": "byte_field_mapping"
    "body": """
      "${1:price}": {
        "type": "byte",
        "null_value": ${2:1}
      }$3
    """
  "Short Field Mapping":
    "prefix": "short_field_mapping"
    "body": """
      "${1:price}": {
        "type": "short",
        "null_value": ${2:1}
      }$3
    """
  "Integer Field Mapping":
    "prefix": "integer_field_mapping"
    "body": """
      "${1:price}": {
        "type": "integer",
        "null_value": ${2:1}
      }$3
    """
  "Long Field Mapping":
    "prefix": "long_field_mapping"
    "body": """
      "${1:price}": {
        "type": "long",
        "null_value": ${2:1.0}
      }$3
    """
  "Token Count Field Mapping":
    "prefix": "token_count_field_mapping"
    "body": """
      "${1:word_count}": {
        "type": "token_count",
        "store": "${2:yes}",
        "analyzer": "${3:standard}"
      }$4
    """
  "Date Field Mapping":
    "prefix": "date_field_mapping"
    "body": """
      "${1:postDate}": {
        "type": "date",
        "format": "${1:YYYY-MM-dd}"
      }$2
    """
  "Boolean Field Mapping":
    "prefix": "boolean_field_mapping"
    "body": """
      "${1:hes_my_special_tweet}": {
        "type": "boolean"
      }$2
    """
  "Binary Field Mapping":
    "prefix": "binary_field_mapping"
    "body": """
      "${1:image}": {
        "type": "binary"
      }
    """
  "Index Name Mapping Option":
    "prefix": "index_name_mapping"
    "body": """
      "index_name": "${1:twitter}"$2
    """
  "Store":
    "prefix": "store_mapping"
    "body": """
      "store": ${1:true}$2
    """
  "Not Analyzed":
    "prefix": "not_analyzed"
    "body": """
      "index": "${1:not_analyzed}"$2
    """
