".source.json, .source.elasticsearch.mapping":
  "Mapping Template":
    "prefix": "mapping_template"
    "body": """
      {
        "${1:tweet}": {
          "properties": {
            "${2:message}": {
              "type": "string",
              "store": true
            }
          }
        }
      }$3
    """
  "_id Field Mapping":
    "prefix": "_id_field_mapping"
    "body": """
      "_id": {
        "path": "${1:post_id}"
      }$2
    """
  "_type Field Mapping":
    "prefix": "_type_field_mapping"
    "body": """
      "_type": {
        "index": "${1:no}",
        "store": ${2:true}
      }$3
    """
  "_source Field Mapping":
    "prefix": "_source_field_mapping"
    "body": """
      "_source": {
        "enabled": ${1:false}
      }$2
    """
  "_all Field Mapping":
    "prefix": "_all_field_mapping"
    "body": """
      "_all": {
        "enabled": ${1:false}
      }$2
    """
  "_analyzer Field Mapping":
    "prefix": "_analyzer_field_mapping"
    "body": """
      "_analyzer": {
        "path": "${1:my_field}"
      }$2
    """
  "_boost Field Mapping":
    "prefix": "_boost_field_mapping"
    "body": """
      "_boost": {
        "name": "${1:my_boost}", "null_value": ${2:1.0}
      }$3
    """
  "_parent Field Mapping":
    "prefix": "_parent_field_mapping"
    "body": """
      "_parent": {
        "type": "${1:blog}"
      }$2
    """
  "String Field Mapping":
    "prefix": "string_field_mapping"
    "body": """
      "${1:message}": {
        "type": "string"
      }$2
    """
  "Float Field Mapping":
    "prefix": "float_field_mapping"
    "body": """
      "${1:price}": {
        "type": "float",
        "null_value": ${2:1.0}
      }$3
    """
  "Double Field Mapping":
    "prefix": "double_field_mapping"
    "body": """
      "${1:price}": {
        "type": "double",
        "null_value": ${2:1}
      }$3
    """
  "Byte Field Mapping":
    "prefix": "byte_field_mapping"
    "body": """
      "${1:price}": {
        "type": "byte",
        "null_value": ${2:1}
      }$3
    """
  "Short Field Mapping":
    "prefix": "short_field_mapping"
    "body": """
      "${1:price}": {
        "type": "short",
        "null_value": ${2:1}
      }$3
    """
  "Integer Field Mapping":
    "prefix": "integer_field_mapping"
    "body": """
      "${1:price}": {
        "type": "integer",
        "null_value": ${2:1}
      }$3
    """
  "Long Field Mapping":
    "prefix": "long_field_mapping"
    "body": """
      "${1:price}": {
        "type": "long",
        "null_value": ${2:1.0}
      }$3
    """
  "Token Count Field Mapping":
    "prefix": "token_count_field_mapping"
    "body": """
      "${1:word_count}": {
        "type": "token_count",
        "store": "${2:yes}",
        "analyzer": "${3:standard}"
      }$4
    """
  "Date Field Mapping":
    "prefix": "date_field_mapping"
    "body": """
      "${1:postDate}": {
        "type": "date",
        "format": "${1:YYYY-MM-dd}"
      }$2
    """
  "Boolean Field Mapping":
    "prefix": "boolean_field_mapping"
    "body": """
      "${1:hes_my_special_tweet}": {
        "type": "boolean"
      }$2
    """
  "Binary Field Mapping":
    "prefix": "binary_field_mapping"
    "body": """
      "${1:image}": {
        "type": "binary"
      }
    """
  "Array Type Mapping":
    "prefix": "array_type_mapping"
    "body": """
      "${1:lists}": {
        "properties": {
          "$name": {"type": "string"},
          "description": {"type": "string"}
        }
      }$2
    """
  "Object Type Mapping":
    "prefix": "object_type_mapping"
    "body": """
      "${1:person}": {
        "type": "object",
        "properties": {
          "name": {
            "type": "object",
            "properties": {
              "first_name": {"type": "string"},
              "last_name": {"type": "string"}
            }
          }
        }
      }$2
    """
  "Nested Type Mapping":
    "prefix": "nested_type_mapping"
    "body": """
      "${1:users}": {
        "type": "nested",
        "include_in_parent": ${2:false}
        "properties": {
          "first_name": {"type": "string"},
          "last_name": {"type": "string"}
        }
      }$3
    """
  "GEO Point Type Mapping":
    "prefix": "geo_point_type_mapping"
    "body": """
      "${1:location}": {
        "type": "geo_point"
      }
    """
  "GEO Shape Type Mapping":
    "prefix": "geo_shape_type_mapping"
    "body": """
      "${1:location}": {
        "type": "geo_shape",
        "tree": "quadtree",
        "precision": "1m"
      }$2
    """
  "Point Type Mapping":
    "prefix": "point_type_mapping"
    "body": """
      "${1:location}": {
        "type": "point",
        "coordinates": [${2:-77.03653, 38.897676}]
      }$3
    """
  "Line String Type Mapping":
    "prefix": "linestring_type_mapping"
    "body": """
      "${1:location}": {
        "type": "linestring",
        "coordinates": [[${2:-77.03653, 38.897676}], [${3:-77.009051, 38.889939}]]
      }$4
    """
  "Polygon Type Mapping":
    "prefix": "polygon_type_mapping"
    "body": """
        "${1:location}": {
          "type": "polygon",
          "coordinates": [
            [
              [100.0, 0.0],
              [101.0, 0.0],
              [101.0, 1.0],
              [100.0, 1.0],
              [100.0, 0.0]
            ]
          ]
        }$2
    """
  "Multi Point Type Mapping":
    "prefix": "multipoint_type_mapping"
    "body": """
      "${1:location}": {
        "type": "multipoint",
        "coordinates": [
          [102.0, 2.0],
          [103.0, 2.0]
        ]
      }$2
    """
  "Multi Line Type Mapping":
    "prefix": "multilinestring_type_mapping"
    "body": """
      "${1:location}": {
        "type": "multilinestring",
        "coordinates": [
          [
            [102.0, 2.0],
            [103.0, 2.0],
            [103.0, 3.0],
            [102.0, 3.0]
          ],
          [
            [100.0, 0.0],
            [101.0, 0.0],
            [101.0, 1.0],
            [100.0, 1.0]
          ],
          [
            [100.2, 0.2],
            [100.8, 0.2],
            [100.8, 0.8],
            [100.2, 0.8]
          ]
        ]
      }$2
    """
  "Multi Polygon Type Mapping":
    "prefix": "multipolygon_type_mapping"
    "body": """
      "${1:location}": {
        "type": "multipolygon",
        "coordinates": [
          [
            [
              [102.0, 2.0],
              [103.0, 2.0],
              [103.0, 3.0],
              [102.0, 3.0],
              [102.0, 2.0]
            ]
          ],

          [
            [
              [100.0, 0.0],
              [101.0, 0.0],
              [101.0, 1.0],
              [100.0, 1.0],
              [100.0, 0.0]
            ],
            [
              [100.2, 0.2],
              [100.8, 0.2],
              [100.8, 0.8],
              [100.2, 0.8],
              [100.2, 0.2]
            ]
          ]
        ]
      }$2
    """
  "Geometry Collection Type Mapping":
    "prefix": "geometrycollection_type_mapping"
    "body": """
      "${1:location}": {
        "type": "geometrycollection",
        "geometries": [{
          "type": "point",
          "coordinates": [100.0, 0.0]
        }, {
          "type": "linestring",
          "coordinates": [
            [101.0, 0.0],
            [102.0, 1.0]
          ]
        }]
      }$2
    """
  "Envelope Type Mapping":
    "prefix": "envelope_type_mapping"
    "body": """
      "${1:location}": {
        "type": "envelope",
        "coordinates": [
          [-45.0, 45.0],
          [45.0, -45.0]
        ]
      }$2
    """
  "Circle Type Mapping":
    "prefix": "circle_type_mapping"
    "body": """
      "${1:location}": {
        "type": "circle",
        "coordinates": [-45.0, 45.0],
        "radius": "100m"
      }$2
    """
  "Attachment Type Mapping":
    "prefix": "attachment_type_mapping"
    "body": """
      "${1:pdf}": {
        "type": "attachment"
      }$2
    """
