".source.json, .source.elasticsearch.query-dsl":
  "And Filter":
    "prefix": "and_filter"
    "body": """
      "and": [
        $1
      ]$2
    """
  "Bool Filter":
    "prefix": "bool_filter"
    "body": """
      "bool": {
        "must": [{$1}],
        "must_not": [{$2}],
        "should": [{$3}]
      }$4
    """
  "Exists Filter":
    "prefix": "exists_filter"
    "body": """
      "exists": {
        "field": "${1:user}"
      }$2
    """
  "Geo Bounding Box Filter":
    "prefix": "geo_bounding_box_filter"
    "body": """
      "geo_bounding_box": {
        "${1:pin.location}": {
            "bottom_right": {
            "lat": ${2:40.01},
            "lon": ${3:-71.12}
          },
          "top_left": {
            "lat": ${4:40.73},
            "lon": ${5:-74.1}
          }
        }
      }$6
    """
  "Geo Distance Filter":
    "prefix": "geo_distance_filter"
    "body": """
      "geo_distance": {
        "distance": "${1:200km}",
        "${2:pin.location}": {
          "lat": ${3:40},
          "lon": ${4:-70}
        }
      }$5
    """
  "Geo Distance Range Filter":
    "prefix": "geo_distance_range_filter"
    "body": """
      "geo_distance_range": {
        "from": "${1:200km}",
        "to": "${2:400km}",
        "${3:pin.location}": {
          "lat": ${4:40},
          "lon": ${5:-70}
        }
      }$6
    """
  "Geo Polygon Filter":
    "prefix": "geo_polygon_filter"
    "body": """
      "geo_polygon": {
        "${1:person.location}": {
          "points": [
            {"lat": 40, "lon": -70},
            {"lat": 30, "lon": -80},
            {"lat": 20, "lon": -90}
          ]
        }
      }$2
    """
  "Geo Shape Filter":
    "prefix": "geo_shape_filter"
    "body": """
      "geo_shape": {
        "location": {
          "shape": {
            "type": "envelope",
            "coordinates": [[${1:13, 53}],[${2:14, 52}]]
          }
        }
      }$2
    """
  "Geohash Cell Filter":
    "prefix": "geohash_cell_filter"
    "body": """
      "geohash_cell": {
        "neighbors": ${1:true},
        "${2:pin}": {
            "lat": ${3:13.4080},
            "lon": ${4:52.5186}
        },
        "precision": ${5:3}
      }$6
    """
  "Has Child Filter":
    "prefix": "has_child_filter"
    "body": """
      "has_child": {
        "type": "${1:blog_tag}",
        "query": {
          "term": {
            "${2:tag}": "${3:something}"
          }
        }
      }$4
    """
  "Has Parent Filter":
    "prefix": "has_parent_filter"
    "body": """
      "has_parent": {
        "type": "${1:blog}",
        "query": {
          "term": {
            "${2:tag}": "${3:something}"
          }
        }
      }$4
    """
  "Ids Filter":
    "prefix": "ids_filter"
    "body": """
      "ids": {
        "type": "${1:my_type}",
        "values": [${2:"1", "4", "100"}]
      }$3
    """
  "Indices Filter":
    "prefix": "indices_filter"
    "body": """
      "indices": {
        "indices": [${1:"index1", "index2"}],
        "filter": {
          ${2:"term": \{"tag": "wow"\}}
        },
        "no_match_query": {
          ${3:"term": \{"tag": "kow"\}}
        }
      }$4
    """
  "limit Filter":
    "prefix": "limit_filter"
    "body": """
      "limit": {
        "value": ${1:100}
      }$2
    """
  "Match All Filter":
    "prefix": "match_all_filter"
    "body": """
      "match_all": {}$1
    """
  "Missing Filter":
    "prefix": "missing_filter"
    "body": """
      "missing": {
        "field": "${1:user}"
      }$2
    """
  "Nested Filter":
    "prefix": "nested_query"
    "body": """
      "nested": {
        "path": "${1:obj1}",
        "filter": {
          $3
        }
      }$4
    """
  "Not Filter":
    "prefix": "not_filter"
    "body": """
      "not": [
        $1
      ]$2
    """
  "Or Filter":
    "prefix": "or_filter"
    "body": """
      "or": [
        $1
      ]$2
    """
  "Prefix Filter":
    "prefix": "prefix_filter"
    "body": """
      "prefix": {
        "${1:user}": "${2:ki}"
      }$3
    """
  "Query Filter":
    "prefix": "query_filter"
    "body": """
      "query": {
        $1
      }$2
    """
  "Range Filter":
    "prefix": "range_filter"
    "body": """
      "range": {
        "${1:age}": {
          "${2:gte}": ${3:10},
          "${4:lte}": ${5:20}
        }
      }$6
    """
  "Date Range Filter":
    "prefix": "date_range_filter"
    "body": """
      "range": {
        "${1:born}": {
          "${2:gte}": ${3:2012-01-01},
          "${4:lte}": ${5:now},
          "time_zone": "${6:+9:00}"
        }
      }$7
    """
  "Regexp Filter":
    "prefix": "regexp_filter"
    "body": """
      "regexp": {
        "${1:name.first}": {
          "value": "${2:s.*y}",
          "boost": ${3:1.2},
          "flags" : "${4:INTERSECTION|COMPLEMENT|EMPTY}"
        }
      }$5
    """
  "Script Filter":
    "prefix": "script_filter"
    "body": """
      "script": {
        "script": "${1:doc['num1'].value > 1}"
      }
    """
  "Term Filter":
    "prefix": "term_filter"
    "body": """
      "term": {
        "${1:user}": "${2:kimchy}"
      }$3
    """
  "Terms Filter":
    "prefix": "terms_filter"
    "body": """
      "terms": {
        "${1:user}": [${2:"kimchy", "elasticsearch"}]
      }$3
    """
  "Type Filter":
    "prefix": "type_filter"
    "body": """
      "type": {
        "value": "${1:my_type}"
      }$2
    """
