".source.json, .source.elasticsearch.snapshot":
  "Snapshot File System Repository Template":
    "prefix": "repository_fs_template"
    "body": """
      {
        "type": "fs",
        "settings": {
          "location": "${1:/mount/backups/my_backup}",
          "compress": ${2:true}
        }
      }
    """
  "Snapshot S3 Repository Template":
    "prefix": "repository_s3_template"
    "body": """
      {
        "type": "s3",
        "settings": {
          "bucket": "${1:my_bucket_name}",
          "region": "${2:ap-northeast-1}",
          "compress": ${3:false}
        }
      }
    """
